section.much-code > table.pre {
  zoom: 80%;
}
section.dsl-functions > table.pre {
  zoom: 80%;
}
section.dsl-interpreter > table.pre {
  zoom: 60%;
}
section.dsl-builder > table.pre {
  zoom: 60%;
}

section.dsl-example > table.pre {
  zoom: 60%;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}