section.much-code > table.pre {
  zoom: 80%;
}
section.dsl-functions > table.pre {
  zoom: 80%;
}
section.dsl-interpreter > table.pre {
  zoom: 60%;
}
section.dsl-builder > table.pre {
  zoom: 60%;
}

section.dsl-example > table.pre {
  zoom: 60%;
}